<template>
  <div class="container">
    <div class="product-list">
      <div class="container">
        <div class="row">
          <div v-for="product in ip" :key="product.id" class="col">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded text-center">
              <img
                class="card-img-top"
                v-bind:src="`${product.url}`"
                alt="Card image cap"
                style="width: 100px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      ids: [
        { id: 1 },
        { id: 2 },
        { id: 3 },
        { id: 4 },
        { id: 5 },
        { id: 6 },
        { id: 7 },
        { id: 8 },
        { id: 9 }
      ]
    };
  },
  async asyncData({ $axios }) {
    const ip = await $axios.$get(
      "https://jsonplaceholder.typicode.com/photos?_limit=9"
    );
    return { ip };
  }
};
</script>

<style scoped>
.card {
  align-items: center;
  margin-bottom: 10px;
}
button {
  margin: 5px;
}
</style>